# 数据分区

In [2]:
import pandas as pd
import numpy as np
import random as rnd

In [3]:
data = pd.read_csv('data_keep_50000.csv', low_memory=False)

In [4]:
data.shape

(57298, 257)

一共256个特征，其中有11个是数值，245个是混合类型，需要处理。

In [5]:
data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57298 entries, 0 to 57297
Data columns (total 257 columns):
vid       57298 non-null object
0101      48809 non-null object
0102      56462 non-null object
0113      55968 non-null object
0114      55956 non-null object
0115      50944 non-null object
0116      55844 non-null object
0117      54895 non-null object
0118      54893 non-null object
0119      31291 non-null object
0120      28277 non-null object
0121      19532 non-null object
0122      19532 non-null object
0123      19531 non-null object
0124      21101 non-null object
0201      32415 non-null object
0202      32852 non-null object
0203      32814 non-null object
0206      28247 non-null object
0207      31434 non-null object
0208      31732 non-null object
0209      30122 non-null object
0210      31178 non-null object
0212      31080 non-null object
0215      30178 non-null object
0216      30703 non-null object
0217      32845 non-null object
0222      32882 non-null object
0225      11313 non-null object
0403      20795 non-null object
0405      36972 non-null object
0406      37912 non-null object
0407      41285 non-null object
0409      48083 non-null object
0413      43616 non-null object
0414      8097 non-null object
0420      45848 non-null object
0421      47590 non-null object
0422      14074 non-null object
0423      40502 non-null object
0424      46210 non-null object
0425      26899 non-null object
0426      47809 non-null object
0427      13398 non-null object
0428      8643 non-null object
0429      20692 non-null object
0430      45777 non-null object
0431      45400 non-null object
0432      38817 non-null object
0433      38648 non-null object
0434      47276 non-null object
0435      40027 non-null object
0436      10087 non-null object
0440      11233 non-null object
0501      18566 non-null object
0503      18568 non-null object
0509      18554 non-null object
0516      18219 non-null object
0537      18115 non-null object
0539      18570 non-null object
0541      18115 non-null object
0702      22501 non-null object
0703      22498 non-null object
0705      22440 non-null object
0706      22495 non-null object
0707      22563 non-null object
0709      22693 non-null object
0715      21299 non-null object
0726      20909 non-null object
0728      19235 non-null object
0730      21285 non-null object
0731      21998 non-null object
0901      40106 non-null object
0911      42606 non-null object
0912      42219 non-null object
0929      39121 non-null object
0947      42593 non-null object
0949      42549 non-null object
0954      42626 non-null object
0972      21355 non-null object
0973      29944 non-null object
0974      37614 non-null object
0975      37534 non-null object
0976      37320 non-null object
0977      23625 non-null object
0978      35603 non-null object
0979      34251 non-null object
0980      32532 non-null object
0981      10947 non-null object
0982      10852 non-null object
0983      11161 non-null object
0984      10770 non-null object
0985      37673 non-null object
0987      8172 non-null object
100005    19422 non-null float64
100006    26239 non-null object
100007    22608 non-null float64
100010    40666 non-null object
100014    7389 non-null object
10002     30215 non-null object
10003     27626 non-null object
10004     52054 non-null object
1001      55601 non-null object
1102      26761 non-null object
1103      25556 non-null object
1104      3137 non-null object
1106      8570 non-null object
1107      8360 non-null object
1115      34446 non-null object
1117      39123 non-null object
1127      12284 non-null object
1301      36879 non-null object
1302      36610 non-null object
1303      33871 non-null object
1304      34422 non-null object
1305      31300 non-null object
1308      39879 non-null object
1313      28027 non-null object
1314      28428 non-null object
1315      29699 non-null object
1316      22327 non-null object
1321      26738 non-null object
1322      26736 non-null object
1325      11204 non-null object
1326      11201 non-null object
1328      25164 non-null object
1329      17005 non-null object
1330      8718 non-null object
1345      13836 non-null object
139       8534 non-null object
1402      11572 non-null object
143       8086 non-null object
1474      7649 non-null object
155       13220 non-null object
1814      57001 non-null object
1815      54248 non-null object
183       31049 non-null object
1840      54973 non-null object
1845      25735 non-null object
1850      52639 non-null object
190       56170 non-null object
191       55617 non-null object
192       44686 non-null object
193       38713 non-null object
2174      30333 non-null object
2228      16801 non-null object
2229      16055 non-null object
2230      15906 non-null object
2231      15906 non-null object
2233      15873 non-null object
2302      56225 non-null object
2333      26229 non-null object
2372      25972 non-null object
2403      55254 non-null object
2404      55253 non-null object
2405      54911 non-null object
2406      19866 non-null object
2420      14742 non-null object
2501      15802 non-null object
269003    12279 non-null object
269004    12491 non-null object
269005    12049 non-null object
269006    12279 non-null object
269007    10872 non-null object
269008    12279 non-null object
269009    12279 non-null object
269010    12279 non-null object
269011    11938 non-null object
269012    12279 non-null object
269013    12323 non-null object
269014    12273 non-null object
269015    12485 non-null object
269016    12273 non-null object
269017    12279 non-null object
269018    12491 non-null object
269019    12279 non-null object
269020    12491 non-null object
269021    12490 non-null object
269022    12490 non-null object
269023    12490 non-null object
269024    12490 non-null object
269025    12422 non-null object
300005    51272 non-null object
300017    7587 non-null object
300018    8413 non-null object
300019    8694 non-null object
300021    8718 non-null object
300036    17100 non-null object
30007     15888 non-null object
31        26600 non-null object
312       26393 non-null object
313       26229 non-null object
314       33333 non-null object
315       26600 non-null float64
316       26600 non-null float64
317       26229 non-null float64
3189      14915 non-null object
319       26600 non-null float64
3190      54803 non-null object
3191      54978 non-null object
3192      54978 non-null object
3193      54936 non-null object
3194      12568 non-null object
3195      54978 non-null object
3196      54871 non-null object
3197      54978 non-null object
32        26355 non-null object
320       25456 non-null object
3207      37075 non-null object
33        26143 non-null float64
3301      13184 non-null object
3399      34912 non-null object
34        21004 non-null float64
3400      34213 non-null object
3429      50295 non-null object
3430      54978 non-null object
3485      15670 non-null object
3486      16165 non-null object
360       11848 non-null object
3601      22152 non-null object
37        26600 non-null float64
3730      50210 non-null object
38        26600 non-null object
39        21216 non-null float64
4001      12577 non-null object
669001    7905 non-null object
669002    8021 non-null object
669006    7702 non-null object
809001    8523 non-null object
809009    7333 non-null float64
979001    10277 non-null object
979002    10070 non-null object
979003    10328 non-null object
979004    10328 non-null object
979005    9423 non-null object
979006    9931 non-null object
979007    10328 non-null object
979008    10328 non-null object
979009    10328 non-null object
979011    10328 non-null object
979012    10381 non-null object
979013    10168 non-null object
979014    10168 non-null object
979015    10328 non-null object
979016    10329 non-null object
979017    10328 non-null object
979018    10166 non-null object
979019    10166 non-null object
979020    10328 non-null object
979021    10329 non-null object
979022    10328 non-null object
979023    10328 non-null object
A201      33937 non-null object
A202      34112 non-null object
A301      7501 non-null object
A302      7529 non-null object
A601      13801 non-null object
dtypes: float64(11), object(246)
memory usage: 112.3+ MB

### 数值数据的分布

In [6]:
data.describe()

,100005,100007,315,316,317,319,33,34,37,39,809009
count,19422.000000,22608.000000,26600.000000,26600.000000,26229.000000,26600.000000,26143.000000,21004.000000,26600.000000,21216.000000,7333.000000
mean,18.967235,0.671348,90.613117,30.289935,334.470525,214.974899,2.076035,0.427824,57.626687,7.709535,1.618898
std,12.079368,4.093520,6.045505,2.474706,15.035377,55.625658,0.733745,0.209185,13.444135,6.317230,0.795881
min,0.000000,0.000000,53.200000,10.300000,116.000000,28.000000,0.200000,0.060000,0.310000,0.010000,0.370000
25%,12.100000,0.159000,87.800000,29.300000,325.000000,178.000000,1.600000,0.300000,53.400000,4.800000,1.400000
50%,13.000000,0.201000,91.000000,30.500000,334.000000,212.000000,2.000000,0.400000,59.300000,6.700000,1.480000
75%,15.000000,0.259000,94.200000,31.700000,344.000000,249.000000,2.400000,0.500000,65.000000,8.700000,1.560000
max,56.800000,51.800000,137.900000,47.600000,485.000000,833.000000,15.600000,4.100000,92.200000,59.000000,21.590000

### 文本数据的分布

In [7]:
data.describe(include=[np.object])

,vid,0101,0102,0113,0114,0115,0116,0117,0118,0119,...,979019,979020,979021,979022,979023,A201,A202,A301,A302,A601
count,57298,48809,56462,55968,55956,50944,55844,54895,54893,31291,...,10166,10328,10329,10328,10328,33937,34112,7501,7529,13801
unique,57298,29127,46423,8881,6060,129,704,4881,4446,288,...,572,1496,596,1435,943,10873,6466,2741,1477,74
top,ff6433efd7475b7552cd8763c6d1a298,双侧甲状腺大小形态正常，包膜光整，实质回声均匀，未见明显异常回声。CDFI：血流显示未见异常。,肝、胆、胰、脾、左肾、右肾未发现明显异常,肝脏大小、形态正常，包膜光整，肝内血管走行较清晰，回声均匀。,胆囊大小、形态正常，囊壁光整，囊腔内透声好，胆总管无扩张。,胰腺大小、形态正常，边缘规整，内部回声均匀，胰管未见扩张。,脾脏大小、形态正常，包膜光整，回声均匀。,左肾大小、形态正常，包膜光滑，肾实质回声均匀，集合系统未见明显分离。,右肾大小、形态正常，包膜光滑，肾实质回声均匀，集合系统未见明显分离。,膀胱充盈良好，壁光滑，延续性好，其内透声性良好，未见明显占位性病变。,...,1.3,57.9,4.9,33.5,6.00,胸廓对称，双肺纹理清晰，走行自然，未见异常实变影，双肺门不大。纵隔窗示纵隔无偏移，心影及大血...,详见纸质报告,详见纸质报告,详见纸质报告,详见纸质报告
freq,1,4277,297,10764,30780,34996,22848,32229,32447,23991,...,311,49,256,67,46,7863,4013,1188,1624,7264

**有部分混合数据被分为object，需要再处理**

### 训练数据

In [58]:
train_df = pd.read_csv('meinian_round1_train_20180408.csv')
train_df.shape

(38199, 6)

In [59]:
train_df.describe(include='O')

                                     vid    收缩压    舒张压 血清甘油三酯
count                              38199  38199  38199  38199
unique                             38199    156    110    975
top     104041558e973e1a293c9fd85eee2987    120     80    0.8
freq                                   1   1260   1747    362

有三列数据有混合类型，需要处理。

In [60]:
train_df[train_df['收缩压'].str.isnumeric()==False]

                                    vid 收缩压 舒张压 血清甘油三酯  血清高密度脂蛋白  血清低密度脂蛋白
15756  1773a52f313d62c3f8d8b8eec1bd63b9  未查  未查   1.15      1.21      3.91
19645  1c1773e341fd21a8da7ac51223fc5b04  未查  未查   1.15      1.18      2.03
20652  8eee83b48c083e6e337c32afe5fec05f  未查  未查   0.47      0.78      1.08
20953  85b341038cfa4b03e6c625ecc2cefddb  弃查  弃查   1.13      1.43      2.92
21662  0597838c42f7c667f0b941efd42055a6  弃查  弃查   1.38      1.39      2.95
27521  34d2cd11dd80947d7a5ef1a42e4777bd  未查  未查   1.25      1.52      5.01
32672  eb16145ab9d131a8501f5df67586f3a6  未查  未查   1.63      1.39      3.79

In [61]:
train_df['收缩压'] = pd.to_numeric(train_df['收缩压'], errors='coerce')
train_df['舒张压'] = pd.to_numeric(train_df['舒张压'], errors='coerce')

In [62]:
train_df.describe(include='O')

                                     vid 血清甘油三酯
count                              38199  38199
unique                             38199    975
top     104041558e973e1a293c9fd85eee2987    0.8
freq                                   1    362

In [79]:
train_df[train_df['血清甘油三酯'].str.contains(r'[\u4e00-\u9fa5]')]

,vid,收缩压,舒张压,血清甘油三酯,血清高密度脂蛋白,血清低密度脂蛋白
22712,99848f481d731504457442dc79e95eee,133.0,88.0,7.75轻度乳糜,1.1,2.06

In [86]:
train_df.loc[22712, '血清甘油三酯'] = 7.75
train_df['血清甘油三酯'] = pd.to_numeric(train_df['血清甘油三酯'], errors='coerce')

In [87]:
train_df.describe()

                收缩压            舒张压        血清甘油三酯      血清高密度脂蛋白      血清低密度脂蛋白
count  38192.000000   38192.000000  38158.000000  38199.000000  38199.000000
mean     126.049618      79.642229      1.612536      1.406683      2.769719
std       19.275625     512.318203      1.335518      0.341184      0.852217
min        0.000000       0.000000      0.100000      0.150000     -1.220000
25%      112.000000      68.000000      0.880000      1.160000      2.180000
50%      124.000000      76.000000      1.270000      1.350000      2.690000
75%      137.000000      85.000000      1.900000      1.600000      3.260000
max      252.000000  100164.000000     28.800000      4.780000     11.540000

In [94]:
train_df['舒张压'].sort_values(ascending=False)[:5]

22357    100164.0
4600        974.0
35452       148.0
33501       146.0
22516       144.0
Name: 舒张压, dtype: float64

In [98]:
train_df.loc[22357,:]

vid         7685d48685028a006c84070f68854ce1
收缩压                                      180
舒张压                                   100164
血清甘油三酯                                     4
血清高密度脂蛋白                                   2
血清低密度脂蛋白                                2.99
Name: 22357, dtype: object

数据不合理，把舒张压替换成NaN

In [99]:
train_df.loc[22357, '舒张压'] = np.nan

In [100]:
train_df['舒张压'].sort_values()[:5]

29394     0.0
5727     37.0
14966    38.0
13674    39.0
15837    40.0
Name: 舒张压, dtype: float64

In [101]:
train_df.loc[29394, '舒张压'] = np.nan

In [102]:
train_df['收缩压'].sort_values()[:5]

29394     0.0
5727     69.0
28325    73.0
5702     74.0
15053    75.0
Name: 收缩压, dtype: float64

In [103]:
train_df.loc[29394, '收缩压'] = np.nan

In [104]:
train_df['血清甘油三酯'].sort_values(ascending=False)[:5]

17693    28.80
3728     25.03
6134     25.01
13137    23.58
30922    22.55
Name: 血清甘油三酯, dtype: float64

In [105]:
train_df['血清低密度脂蛋白'].sort_values()[:5]

11688   -1.22
14065   -0.12
15215   -0.06
36423    0.08
9598     0.09
Name: 血清低密度脂蛋白, dtype: float64

In [106]:
train_df.describe()

                收缩压           舒张压        血清甘油三酯      血清高密度脂蛋白      血清低密度脂蛋白
count  38191.000000  38190.000000  38158.000000  38199.000000  38199.000000
mean     126.052918     77.023619      1.612536      1.406683      2.769719
std       19.265082     13.385752      1.335518      0.341184      0.852217
min       69.000000     37.000000      0.100000      0.150000     -1.220000
25%      112.000000     68.000000      0.880000      1.160000      2.180000
50%      124.000000     76.000000      1.270000      1.350000      2.690000
75%      137.000000     85.000000      1.900000      1.600000      3.260000
max      252.000000    974.000000     28.800000      4.780000     11.540000

### 数据拼接

需要把训练集和测试集数据分别拼接起来。

In [114]:
data_train = pd.merge(train_df, data, on='vid', sort=False)

In [118]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float64(16), object(246)
memory usage: 76.6+ MB

In [119]:
test_df = pd.read_csv('meinian_round1_test_a_20180409.csv')

In [120]:
test_df.shape

(9538, 6)

In [121]:
data_test = pd.merge(test_df, data, on='vid', sort=False)

In [124]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9538 entries, 0 to 9537
Columns: 262 entries, vid to A601
dtypes: float64(16), object(246)
memory usage: 19.1+ MB

In [125]:
data_train.to_csv('data_train.csv')
data_test.to_csv('data_test.csv')