# 数据清洗、可视化、特征选取

In [3]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## 导入数据

In [13]:
train_df = pd.read_csv('meinian_round1_train_20180408.csv')
raw_data1 = pd.read_csv('meinian_round1_data_part1_20180408.txt', sep='$')
raw_data2 = pd.read_csv('meinian_round1_data_part2_20180408.txt', sep='$')
raw_data = pd.concat([raw_data1, raw_data2])

In [15]:
print(raw_data.shape)

(8104368, 3)

训练数据的结构：**患者id、检验项目id、检验结果**

In [14]:
raw_data.head()

                                vid table_id field_results
0  002d1e4859fafd9ded2a2e1e7c839b62     2403          72.9
1  002d1e4859fafd9ded2a2e1e7c839b62     2404         166.5
2  002d1e4859fafd9ded2a2e1e7c839b62     2405         26.30
3  002d1e4859fafd9ded2a2e1e7c839b62     2420            79
4  002d1e4859fafd9ded2a2e1e7c839b62     0702             无

训练数据的输出的结构

In [9]:
train_df.head()

                                vid  收缩压  舒张压 血清甘油三酯  血清高密度脂蛋白  血清低密度脂蛋白
0  002d1e4859fafd9ded2a2e1e7c839b62  165  100   2.08      1.29      3.24
1  92dd479df5e30ab6a0a1cf85ac53efc3  141   97   2.64      1.36      4.75
2  6bb59d517c4c70f8f50844d24fbd0355  120   80   1.37      1.25      2.66
3  0ebb42adae512906f7e1135da734ea63  100   70   1.27      2.21      1.73
4  ebe7811e919109c42c092abbd98b4ca6  110   80    0.8      1.87      2.21