# 特征选择

In [1]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
pd.set_option('display.max_columns', 500)

### 导入数据

In [7]:
train_df = pd.read_csv('data_train.csv', low_memory=False, index_col=0)
test_df = pd.read_csv('data_test.csv', low_memory=False, index_col=0)
combine = [train_df, test_df]

### 分析数据（描述）

#### 一共有多少特征？

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float64(18), object(244)
memory usage: 76.6+ MB

In [39]:
train_df.describe()

,收缩压,舒张压,血清甘油三酯,血清高密度脂蛋白,血清低密度脂蛋白,100005,100007,31,315,316,317,319,33,34,37,39,669001,809009
count,38191.000000,38190.000000,38158.000000,38199.000000,38199.000000,12899.000000,15043.000000,17712.000000,17712.000000,17712.000000,17459.000000,17712.000000,17409.000000,13957.000000,17712.000000,14101.000000,5289.000000,4858.000000
mean,126.052918,77.023619,1.612536,1.406683,2.769719,18.969464,0.687269,4.736107,90.603513,30.289683,334.513494,215.117475,2.076115,0.426795,57.697587,7.730919,3.513815,1.620080
std,19.265082,13.385752,1.335518,0.341184,0.852217,12.073726,4.187223,0.523044,6.050279,2.471872,15.049161,55.691769,0.737653,0.209125,13.335674,6.360497,3.364076,0.803286
min,69.000000,37.000000,0.100000,0.150000,-1.220000,4.000000,0.000000,2.220000,53.200000,10.300000,116.000000,28.000000,0.200000,0.090000,0.310000,0.010000,0.010000,0.370000
25%,112.000000,68.000000,0.880000,1.160000,2.180000,12.100000,0.159000,4.360000,87.700000,29.300000,325.000000,178.000000,1.600000,0.300000,53.500000,4.800000,2.020000,1.400000
50%,124.000000,76.000000,1.270000,1.350000,2.690000,13.000000,0.201000,4.710000,91.000000,30.500000,334.000000,212.000000,2.000000,0.400000,59.300000,6.700000,3.090000,1.480000
75%,137.000000,85.000000,1.900000,1.600000,3.260000,15.000000,0.259000,5.080000,94.200000,31.700000,344.000000,249.000000,2.400000,0.500000,65.000000,8.700000,4.480000,1.570000
max,252.000000,974.000000,28.800000,4.780000,11.540000,56.800000,51.800000,7.640000,120.300000,42.900000,485.000000,610.000000,15.600000,4.100000,92.200000,55.800000,132.246000,21.590000

In [40]:
test_df.describe()

,收缩压,舒张压,血清甘油三酯,血清高密度脂蛋白,血清低密度脂蛋白,100005,100006,100007,269004,269005,269006,269007,269008,269009,269010,269012,269014,269015,269016,269017,269018,269019,269020,269021,269022,269023,269024,269025,31,313,315,316,317,319,32,320,33,34,37,38,39,669001,809009
count,0.0,0.0,0.0,0.0,0.0,3249.000000,4372.000000,3763.000000,2047.000000,1980.000000,2016.000000,1775.000000,2016.000000,2016.000000,2016.000000,2016.000000,2014.000000,2045.000000,2014.000000,2016.000000,2047.000000,2016.000000,2047.000000,2047.000000,2047.000000,2047.000000,2047.000000,2037.000000,4434.000000,4371.000000,4434.000000,4434.000000,4371.000000,4434.000000,4394.000000,4267.000000,4363.000000,3528.000000,4434.000000,4434.000000,3559.000000,1269.000000,1257.000000
mean,NaN,NaN,NaN,NaN,NaN,19.044075,14.465755,0.639326,9.242013,0.193128,212.887847,46.146085,340.847222,30.804812,90.268353,146.614087,3.702415,0.394585,1.812570,60.182589,6.520435,30.334812,6.093307,2.711466,0.231568,0.166135,0.012847,13.347914,4.739432,142.969851,90.537900,30.242402,334.134546,214.913848,3.783976,9.417546,2.078981,0.427678,57.471347,30.652443,7.576245,3.586543,1.598640
std,NaN,NaN,NaN,NaN,NaN,12.156971,2.661384,3.875272,1.485286,0.051775,54.854380,4.678848,15.683136,2.495205,5.961137,16.941759,1.212102,0.149875,0.586123,8.728309,1.976968,8.167379,1.540953,2.205780,0.298584,0.166724,0.022571,1.686410,0.515019,16.413521,6.003174,2.464576,14.952880,55.968985,1.250886,1.791144,0.733974,0.203998,13.934575,10.821147,6.206759,2.795492,0.740983
min,NaN,NaN,NaN,NaN,NaN,0.000000,7.700000,0.042000,4.200000,0.050000,0.900000,33.600000,164.000000,18.100000,59.100000,71.000000,0.320000,0.050000,0.330000,7.600000,1.000000,5.000000,2.890000,0.000000,0.000000,0.000000,0.000000,9.500000,2.920000,62.000000,57.000000,15.800000,256.000000,35.000000,0.500000,3.800000,0.380000,0.100000,0.350000,0.140000,0.020000,0.030000,0.470000
25%,NaN,NaN,NaN,NaN,NaN,12.100000,12.322500,0.159500,8.500000,0.160000,176.000000,42.650000,331.000000,29.800000,87.575000,134.000000,2.860000,0.300000,1.400000,54.200000,5.200000,24.700000,5.010000,1.300000,0.100000,0.080000,0.000000,12.100000,4.370000,131.000000,87.700000,29.200000,325.000000,179.000000,2.900000,8.400000,1.600000,0.300000,53.500000,26.300000,4.800000,2.060000,1.390000
50%,NaN,NaN,NaN,NaN,NaN,13.000000,15.200000,0.202000,9.200000,0.190000,208.000000,46.000000,341.000000,31.000000,90.800000,147.000000,3.520000,0.380000,1.750000,60.410000,6.300000,30.100000,5.890000,2.200000,0.100000,0.120000,0.010000,13.000000,4.720000,144.000000,91.000000,30.500000,334.000000,212.000000,3.600000,9.500000,2.000000,0.400000,59.400000,32.000000,6.600000,3.140000,1.480000
75%,NaN,NaN,NaN,NaN,NaN,15.000000,16.200000,0.260000,10.100000,0.220000,244.000000,49.600000,350.000000,32.200000,94.000000,159.000000,4.367500,0.480000,2.140000,66.000000,7.700000,35.800000,6.980000,3.300000,0.200000,0.200000,0.010000,14.300000,5.080000,155.000000,94.100000,31.700000,343.000000,247.000000,4.400000,10.500000,2.400000,0.500000,65.000000,37.375000,8.700000,4.580000,1.560000
max,NaN,NaN,NaN,NaN,NaN,56.700000,30.100000,48.200000,16.100000,0.590000,560.000000,60.100000,461.000000,43.100000,113.000000,201.000000,12.900000,1.800000,4.680000,85.900000,30.800000,62.500000,16.900000,31.100000,2.100000,3.590000,0.400000,24.100000,7.650000,200.000000,111.200000,43.100000,452.000000,833.000000,11.950000,18.900000,11.700000,1.500000,89.200000,79.800000,59.000000,53.530000,10.030000

训练集有13个数值特征而测试集有38个。

In [59]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float64(18), object(244)
memory usage: 77.9+ MB

In [60]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9538 entries, 0 to 9537
Columns: 262 entries, vid to A601
dtypes: float64(43), object(219)
memory usage: 19.5+ MB

In [52]:
train_df[train_df['100006'].str.contains(r'[0-9]')==False]['100006']

18724    ---
25573    ---
Name: 100006, dtype: object

*坑爹，哪个医生手滑录错*，再看看其他特征。

In [53]:
train_df[train_df['269004'].str.contains(r'[0-9]')==False]['269004']

31840    ----
Name: 269004, dtype: object

In [54]:
train_df[train_df['269005'].str.contains(r'[0-9]')==False]['269005']

31840    ----
Name: 269005, dtype: object

**把所有为`---`的值改为NaN**

In [84]:
train_df.replace(to_replace=r'\-+', value=np.nan, inplace=True, regex=True)

In [97]:
for col in test_df.describe().columns.values:
    if col not in train_df.describe().columns.values:
        train_df[col] = pd.to_numeric(train_df[col], downcast='float', errors='ignore')

In [98]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float32(2), float64(18), object(242)
memory usage: 77.6+ MB

只是多了两列特征，因为不只是---的问题

In [100]:
train_df.describe()

,收缩压,舒张压,血清甘油三酯,血清高密度脂蛋白,血清低密度脂蛋白,100005,100006,100007,31,315,316,317,319,320,33,34,37,39,669001,809009
count,38191.000000,38190.000000,38158.000000,38199.000000,38199.000000,12899.000000,17472.000000,15043.000000,17712.000000,17712.000000,17712.000000,17459.000000,17712.000000,16938.000000,17409.000000,13957.000000,17712.000000,14101.000000,5289.000000,4858.000000
mean,126.052918,77.023619,1.612536,1.406683,2.769719,18.969464,14.448467,0.687269,4.736107,90.603513,30.289683,334.513494,215.117475,9.410127,2.076115,0.426795,57.697587,7.730919,3.513815,1.620080
std,19.265082,13.385752,1.335518,0.341184,0.852217,12.073726,2.659356,4.187223,0.523044,6.050279,2.471872,15.049161,55.691769,1.791910,0.737653,0.209125,13.335674,6.360497,3.364076,0.803286
min,69.000000,37.000000,0.100000,0.150000,-1.220000,4.000000,0.000000,0.000000,2.220000,53.200000,10.300000,116.000000,28.000000,0.000000,0.200000,0.090000,0.310000,0.010000,0.010000,0.370000
25%,112.000000,68.000000,0.880000,1.160000,2.180000,12.100000,12.300000,0.159000,4.360000,87.700000,29.300000,325.000000,178.000000,8.400000,1.600000,0.300000,53.500000,4.800000,2.020000,1.400000
50%,124.000000,76.000000,1.270000,1.350000,2.690000,13.000000,15.200000,0.201000,4.710000,91.000000,30.500000,334.000000,212.000000,9.500000,2.000000,0.400000,59.300000,6.700000,3.090000,1.480000
75%,137.000000,85.000000,1.900000,1.600000,3.260000,15.000000,16.200001,0.259000,5.080000,94.200000,31.700000,344.000000,249.000000,10.500000,2.400000,0.500000,65.000000,8.700000,4.480000,1.570000
max,252.000000,974.000000,28.800000,4.780000,11.540000,56.800000,32.200001,51.800000,7.640000,120.300000,42.900000,485.000000,610.000000,20.100000,15.600000,4.100000,92.200000,55.800000,132.246000,21.590000

In [116]:
train_df[train_df['269004'].str.match(r'^(-?\d+\.\d+)?;(-?\d+\.\d+)?')==True]['269004']

23268    9.50;9.50
Name: 269004, dtype: object

**有很多特征值有重复，变成了数值；数值的格式**

In [117]:
train_df.replace(to_replace=r'^(-?\d+\.\d+)?;(-?\d+\.\d+)?', value=r'\1', inplace=True, regex=True)

In [119]:
train_df.loc[23268]['269004']

'9.50'

In [120]:
for col in test_df.describe().columns.values:
    if col not in train_df.describe().columns.values:
        train_df[col] = pd.to_numeric(train_df[col], downcast='float', errors='ignore')

In [121]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float32(19), float64(20), object(223)
memory usage: 75.1+ MB

还有几列有问题，print出来看看。

In [122]:
for col in test_df.describe().columns.values:
    if col not in train_df.describe().columns.values:
        print(col)

269012
313
32
38

In [132]:
print(train_df['269012'].count(),
train_df['313'].count(),
train_df['32'].count(),
train_df['38'].count())

8219 17459 17553 17712

In [140]:
train_df[train_df['269012'].str.match(r'^(-?\d+)(\.\d+)?')==False]['269012']

Series([], Name: 269012, dtype: object)

In [152]:
pd.to_numeric(train_df['269012'], downcast='float')

ValueError: Unable to parse string "116.0." at position 33466

**可以看到还有末尾多一个小数点的数据，把小数点去掉**

In [154]:
train_df.replace(to_replace=r'^(-?\d+\.\d+)?(-?\d+)?.$', value=r'\1', regex=True, inplace=True)

处理特例

In [160]:
train_df.loc[26333]['313']

'189 脂血'

In [166]:
train_df.loc[26333,['313']] = 189

In [167]:
for col in test_df.describe().columns.values:
    if col not in train_df.describe().columns.values:
        train_df[col] = pd.to_numeric(train_df[col], downcast='float', errors='ignore') //用apply更好

In [168]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38199 entries, 0 to 38198
Columns: 262 entries, vid to A601
dtypes: float32(4), float64(39), object(219)
memory usage: 77.3+ MB

In [175]:
train_df.describe()

,收缩压,舒张压,血清甘油三酯,血清高密度脂蛋白,血清低密度脂蛋白,100005,100006,100007,269004,269005,269006,269007,269008,269009,269010,269012,269014,269015,269016,269017,269018,269019,269020,269021,269022,269023,269024,269025,31,313,315,316,317,319,32,320,33,34,37,38,39,669001,809009
count,38191.000000,38190.000000,38158.000000,38199.000000,38199.000000,12899.000000,17472.000000,15043.000000,8362.000000,8058.000000,8219.000000,7288.000000,8219.000000,8219.000000,8219.000000,1360.000000,8215.000000,8359.000000,8215.000000,8219.000000,8363.000000,8219.000000,8363.00000,8362.000000,8362.000000,8362.000000,8362.000000,8316.000000,17712.000000,2638.000000,17712.000000,17712.000000,17459.000000,17712.000000,17532.000000,16938.000000,17409.000000,13957.000000,17712.000000,17667.000000,14101.000000,5289.000000,4858.000000
mean,126.052918,77.023619,1.612536,1.406683,2.769719,18.969464,14.448468,0.687269,9.235608,0.196681,214.206473,46.271937,340.019601,30.710196,90.245711,146.944122,3.714734,0.397310,1.802418,60.325677,6.579583,30.182888,6.09749,2.694310,0.233265,0.165098,0.012579,13.340669,4.736107,142.290222,90.603513,30.289683,334.513494,215.117475,3.757140,9.410126,2.076115,0.426795,57.697587,30.829304,7.730919,3.513815,1.620080
std,19.265082,13.385752,1.335518,0.341184,0.852217,12.073726,2.659356,4.187223,1.476703,0.130491,55.690242,4.622187,15.234826,2.594303,6.180244,18.518684,1.277855,0.149939,0.610732,8.814129,1.976209,8.304852,1.61659,2.199148,0.334817,0.161030,0.021401,1.652563,0.523044,17.476076,6.050279,2.471872,15.049161,55.691769,1.260181,1.791910,0.737653,0.209125,13.335674,10.759552,6.360497,3.364076,0.803286
min,69.000000,37.000000,0.100000,0.150000,-1.220000,4.000000,0.000000,0.000000,4.100000,0.020000,28.000000,33.200001,263.000000,15.800000,54.799999,72.000000,1.140000,0.050000,0.310000,16.299999,0.900000,3.300000,2.25000,0.000000,0.000000,0.000000,0.000000,9.100000,2.220000,60.200001,53.200000,10.300000,116.000000,28.000000,0.400000,0.000000,0.200000,0.090000,0.310000,0.100000,0.010000,0.010000,0.370000
25%,112.000000,68.000000,0.880000,1.160000,2.180000,12.100000,12.300000,0.159000,8.500000,0.160000,176.000000,42.900002,330.000000,29.700001,87.699997,134.000000,2.830000,0.300000,1.380000,54.400002,5.200000,24.600000,4.97500,1.300000,0.100000,0.080000,0.000000,12.200000,4.360000,130.000000,87.700000,29.300000,325.000000,178.000000,2.900000,8.400000,1.600000,0.300000,53.500000,26.500000,4.800000,2.020000,1.400000
50%,124.000000,76.000000,1.270000,1.350000,2.690000,13.000000,15.200000,0.201000,9.300000,0.190000,209.000000,46.200001,340.000000,31.000000,90.699997,147.500000,3.533000,0.380000,1.730000,60.299999,6.400000,29.980000,5.90000,2.100000,0.100000,0.120000,0.010000,13.000000,4.710000,142.000000,91.000000,30.500000,334.000000,212.000000,3.600000,9.500000,2.000000,0.400000,59.300000,32.099998,6.700000,3.090000,1.480000
75%,137.000000,85.000000,1.900000,1.600000,3.260000,15.000000,16.200001,0.259000,10.100000,0.220000,247.000000,49.599998,350.000000,32.200001,94.000000,161.000000,4.360000,0.480000,2.160000,66.199997,7.700000,35.700001,7.00000,3.400000,0.200000,0.200000,0.010000,14.300000,5.080000,155.000000,94.200000,31.700000,344.000000,249.000000,4.400000,10.500000,2.400000,0.500000,65.000000,37.500000,8.700000,4.480000,1.570000
max,252.000000,974.000000,28.800000,4.780000,11.540000,56.800000,32.200001,51.800000,15.100000,6.500000,832.000000,68.699997,405.000000,42.200001,117.800003,199.000000,20.250000,2.200000,11.210000,99.300003,20.200001,78.900002,26.10000,44.799999,11.000000,6.120000,0.340000,26.500000,7.640000,204.000000,120.300000,42.900000,485.000000,610.000000,18.299999,20.100000,15.600000,4.100000,92.200000,85.800003,55.800000,132.246000,21.590000

## 用这些特征试试看看简单的算法

In [242]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [209]:
feature = train_df.describe().columns.values.tolist()[5:]

In [210]:
label = train_df.describe().columns.values.tolist()[0:5]

In [228]:
X_train = train_df.loc[:,feature].fillna(0)
Y_train = train_df.loc[:,label].fillna(0)
X_test = test_df.loc[:,feature].fillna(0)

In [229]:
X_train.shape, Y_train.shape, X_test.shape

((38199, 38), (38199, 5), (9538, 38))

## 回归树

In [237]:
regr = DecisionTreeRegressor()
regr.fit(X_train, Y_train)
acc_decision_tree = round(regr.score(X_train, Y_train) * 100, 2)
acc_decision_tree

67.06

In [262]:
Y_pred_regr = regr.predict(X_test)

In [263]:
Y_pred_regr_df = pd.DataFrame(Y_pred_regr, columns=label)
Y_pred_regr_df.head()

     收缩压   舒张压  血清甘油三酯  血清高密度脂蛋白  血清低密度脂蛋白
0  121.0  77.0    1.86      0.98      2.62
1  111.0  70.0    1.51      0.93      2.50
2  134.0  82.0    0.57      1.41      1.99
3  115.0  81.0    1.90      1.53      4.92
4  155.0  96.0    1.48      1.16      3.52

In [264]:
Y_pred_regr_df['vid']=test_df['vid']

In [266]:
Y_pred_regr_df = Y_pred_regr_df.ix[:, ['vid']+label]

In [268]:
Y_pred_regr_df.to_csv('regr_output.csv',index=False)

## 随机森林

In [243]:
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

58.4